      <div class="card justify-content-center">
          <div class="card-header d-flex justify-content-between" id="post-title">
              <div>{{title}}</div>
              <div>Posted by {{user.username}} on {{format_date created_at}}</div>
            </div>
      <div class="card-text" id="post-content">{{content}}</div>
      </div>
