      <div class="card justify-content-center" id="dashboard-cards">
          <div class="card-header d-flex justify-content-between" id="post-title">
              <a href="/dashboard/edit/{{id}}">{{title}}</a>
              <div>{{format_date created_at}}</div>
            </div>
      <div class="card-text" id="post-content">{{content}}</div>
      </div>
