{{#if posts.length}}
<section id="dashboard-container">
  <h5 class="px-3">your posts</h5>
  <ul class="list-unstyled">
    {{#each posts as |post|}}
    <li class="d-flex justify-content-center">
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<div class="d-flex justify-content-center">
    {{!-- <a href="/dashboard/new"> --}}
    <button type="submit" class="btn btn-lg btn-outline-secondary" id="add-post-btn">add new post</button>
</div>

<div id="add-post-container"></div>

<script type="text/x-handlebars-template" id="new-post-template">
    <section>
    <div class="d-flex justify-content-center">
    <form class="card" id="new-post-form">
        <div class="card-header" id="login-header">
            <h5 class="mb-0">new post</h5>
        </div>
        <div class="card-body mx-auto">
        <div>
            <label for="post-title">title</label>
            <input type="text" class="form-control mb-3" id="new-post-title" name="post-title" size="50"/>
        </div>
        <div>
            <label for="post-content">content</label>
                <textarea class="form-control" rows="3" name="post-content" ></textarea>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-outline-secondary" id="create-post-btn">create</button>
        </div>
      </div>
    </form>
    </section>
</script>


<script src="/javascript/add-post.js"></script>

<script src="/javascript/add-post-form.js"></script>

