{{#if posts.length}}
<section id="dashboard-container">
  <h5 class="px-3">your posts</h5>
  <ul class="list-unstyled">
    {{#each posts as |post|}}
    <li class="d-flex justify-content-center">
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-lg btn-outline-secondary" id="add-post-btn">add new post</button>
</div>
</section>



<div id="add-post-container"></div>

<div class="hide" id="new-post-container">
    <div class="d-flex justify-content-center">
    <form class="card" id="new-post-form">
        <div class="card-header" id="login-header">
            <h5 class="mb-0">new post</h5>
        </div>
        <div class="card-body mx-auto">
        <div>
            <label for="post-title">title</label>
            <input type="text" class="form-control mb-3" id="new-post-title" name="post-title" size="50"/>
        </div>
        <div>
            <label for="post-content">content</label>
                <textarea class="form-control" rows="3" name="post-content" ></textarea>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-outline-secondary" id="create-post-btn">create</button>
        </div>
      </div>
    </form>
</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascript/add-post.js"></script>