<div class="d-flex justify-content-center">
<form class="card signup-form">
    <div class="card-header" id="login-header">
        <h5 class="mb-0">sign up</h5>
    </div>
    <div class="card-body mx-auto">
    <div>
        <label for="username-login">username:</label>
        <input type="text" id="username-login" size="50"/>
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" size="50"/>
    </div>
    <div class="d-flex justify-content-end pt-2">
        <button type="submit" class="btn btn-outline-primary" id="login-btn">sign up</button>
    </div>
    <div class="d-flex justify-content-end">
        <a href="/login">Login instead</a>
    </div>
    </div>
</form>
</div>

<script src="/javascript/login.js"></script>