body {
    background-color: #EAE9E6 !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;

}

.header-border {
    border-bottom-style: double;
    border-bottom-color: #D0CFCC;
}

#main-header {
    font-size: 3rem;
    font-weight: 300;
}

#main-nav {
    font-size: .8rem;
}

.card {
    width: 80%;
    margin: 10px;
}

#post-title {
    background-color: #d5dbd9;
    font-weight: 400;
    font-size: 1.05rem;
}

#post-content {
    background-color: #F0EBEB;
    padding: .1rem 1.25rem;
}

.btn-link {
    text-decoration: none;
    color: black !important;
    font-size: .8rem !important;
    font-weight: 300 !important;

}

nav a {
    vertical-align: middle;
    color: black !important;
}

#login-header {
    padding: .5rem 1.25rem;
    background-color: #d5dbd9;
}

#login-btn {
    width: 415px;
}